[submodule "thirdparty/openexr"]
	path = thirdparty/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://android.googlesource.com/platform/external/zlib
